## Week 1 - Tutorial Solutions

In [1]:
import pandas as pd
import numpy as np

**1. Load the NYC13 flights dataset**

In [2]:
df = pd.read_csv('flights.csv')
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [3]:
print("The data contains {0} rows and {1} columns".format(df.shape[0], df.shape[1]))

The data contains 336776 rows and 16 columns

**2. Identify the numerical and object columns. Do you find anything incorrectly detected?**

In [4]:
df.dtypes

year           int64
month          int64
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

`month` is considered as integer here. However, it should be a categorical variable. `year` can be considered a categorical or numerical data based on the context.

In [5]:
#converting month to object type
df['month'] = df['month'].apply(str)
df['year'] = df['year'].apply(str)
#check for datatypes again
df.dtypes

year          object
month         object
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

**3a. How many different destinations are present? How many destinations have less than 10 flights listed?**

In [6]:
len(df['dest'].unique())

105

In [7]:
dest_value_counts = df['dest'].value_counts()
dest_value_counts[:2]

ORD    17283
ATL    17215
Name: dest, dtype: int64

In [8]:
dest_value_counts[dest_value_counts <= 10]

SBN    10
ANC     8
LEX     1
LGA     1
Name: dest, dtype: int64

4 destinations have less than 10 flights listed in this dataset.

**3b. Identify the top 3 carriers and compute what proportion of the flights do they have listed in this data?**

In [9]:
# https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.Series.value_counts.html
df['carrier'].value_counts(normalize=True)

UA    0.174196
B6    0.162229
EV    0.160858
DL    0.142855
AA    0.097183
MQ    0.078381
US    0.060978
9E    0.054814
WN    0.036449
VX    0.015328
FL    0.009680
AS    0.002120
F9    0.002034
YV    0.001785
HA    0.001016
OO    0.000095
Name: carrier, dtype: float64

The top 3 carriers include UA (17%), B6 (16%) and EV (16%).

**4a. Calculate the number of missing values for each column**

In [10]:
df.isnull().sum()

year            0
month           0
day             0
dep_time     8255
dep_delay    8255
arr_time     8713
arr_delay    9430
carrier         0
tailnum      2512
flight          0
origin          0
dest            0
air_time     9430
distance        0
hour         8255
minute       8255
dtype: int64

**4b. Calculate the number of missing values for the whole dataset**

In [11]:
print("The number of missing values in the whole dataset is {0}".format(df.isnull().sum().sum()))

The number of missing values in the whole dataset is 63105

**5. Descriptive Statistics**

In [12]:
#Update the numeric features, after converting ID and flag to 'category'.
numeric_columns = df.select_dtypes(['int64', 'float64']).columns
numeric_columns

Index(['day', 'dep_time', 'dep_delay', 'arr_time', 'arr_delay', 'flight',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [13]:
df[numeric_columns].std()

day             8.768607
dep_time      488.281791
dep_delay      40.210061
arr_time      533.264132
arr_delay      44.633292
flight       1632.471938
air_time       93.688305
distance      733.233033
hour            4.894426
minute         18.230997
dtype: float64

In [14]:
df[numeric_columns].median()

day            16.0
dep_time     1401.0
dep_delay      -2.0
arr_time     1535.0
arr_delay      -5.0
flight       1496.0
air_time      129.0
distance      872.0
hour           14.0
minute         31.0
dtype: float64